<div class="w-full h-[calc(100vh-150px)] flex flex-col items-center justify-center">
<h2 class="text-3xl font-bold mb-5">Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-3">
    <p><%= f.label :user_name %></p>
    <p><%= f.text_field :user_name, autofocus: true, class: "form-field-input" %></p>
  </div>

  <div class="field mb-3">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-field-input" %></p>
  </div>

  <div class="field mb-3">
    <p><%= f.label :password %></p>
    <% if @minimum_password_length %>
      <p class="italic text-sm text-gray-500"><em>(<%= @minimum_password_length %> characters minimum)</em></p>
    <% end %>
    <p><%= f.password_field :password, autocomplete: "new-password", class: "form-field-input" %></p>
  </div>

  <div class="field mb-3">
    <p><%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-field-input" %></p>
  </div>

  <div class="actions mb-4 bg-[var(--primary)] text-center rounded-md py-[2px] cursor-pointer">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<div class="flex flex-col items-center text-[var(--primary)]">
<%= render "devise/shared/links" %>
</div>
</div>
