<p style="color: green"><%= notice %></p>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">

<%= turbo_stream_from @post %>

<%= render @post %>

<turbo-frame id="like_section-<%= @post.id %>">
  <%= render partial: "like_section", post: @post %>
</turbo-frame>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Delete Post", @post, method: :delete, class: "delete-button" %>

  <br/>
  <%= link_to "Back to Home", root_path%>
</div>

<%= render "comments/comments", post: @post %>
